html {
  overflow-y: auto;
}
.container {
  background: linear-gradient(to top, #F7AF31, black, black);
  height: 1600px;
}

.content {
  width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  background: linear-gradient(to top, #F37335, #FDC830);
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: 33.3%;
  height: 700px;
  border: 1px solid black;
}
.col > img {
  border: 1px solid black;
  width: 70%;
  height: 80%;
  margin-left: 15%;
  margin-top: 5%;
  box-shadow: -1px 20px 30px 1px black;
}
.col > span {
  display: block;
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid black;
  width: 50%;
}

/* Responsiveness */
@media screen and (max-width: 1400px) {

  .content {
    width: 1200px;
  }

  .col {
    height: 650px;
  }

  .col > span {
    font-size: 25px;
  }
}

@media screen and (max-width: 1250px) {

  .content {
  width: 1000px;
  }

  .col {
  height: 650px;
  }

  .col > span {
  font-size: 21px;
  }
}

@media screen and (max-width: 1050px) {

  .content {
  width: 800px;
  }

  .col {
  height: 600px;
  }

  .col > span {
  font-size: 16px;
  }
}

@media screen and (max-width: 850px) {

  .content {
  width: 600px;
  }

  .col {
  height: 500px;
  }

  .col > img {
    margin-top: 30px;
    width: 80%;
    height: 75%;
    margin-left: 11%;
  }

  .col > span {
    font-size: 12px;
  }
}

@media screen and (max-width: 655px) {

  .content {
  width: 400px;
  }

  .col {
  height: 400px;
  }

  .col > img {
    margin-top: 30px;
    width: 80%;
    height: 75%;
    margin-left: 11%;
  }

  .col > span {
    font-size: 10px;
    width: 60%;
    margin-left: 27px;
  }

  .authentification.same-effect {
    margin-right: -0px;
  }
}

@media screen and (max-width: 960px) {

  .content {
  width: 320px;
  }

  .col {
  height: 400px;
  }

  .col > img {
    margin-top: 30px;
    width: 90%;
    height: 75%;
    margin-left: 5%;
  }

  .col > span {
    font-size: 10px;
    width: 80%;
    margin-left: 10px;
  }

}
