* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
.container {
  background: linear-gradient(to top, #F7AF31, black, black);
}

.popcorn-image {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: 200px;
  transform: rotate(-35deg);
  left: -55px;
}

.soda-image {
  position: absolute;
  width: 400px;
  height: 500px;
  right: 70px;
  top: 370px;
  transform: rotate(20deg);
}

/* Header */
.header-container {}

/* AUTHENTIFICATION AND MEDIA*/
.authentification-media-container {
  background-color: black;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 3px 31px 41px -12px rgba(186, 140, 2, 1);
  border-bottom: 0.5px solid orange;
}

.media {
  padding-right: 50px;
}

.fab {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 20px;
  color: orange;
}

.authentification {
  margin-left: auto;
  padding-left: 25px;
  padding-right: 17px;
}

.authentification>button {
  outline: none;
  border: 2px solid orange;
  border-radius: 1px;
  color: orange;
  background-color: black;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.authentification > button:hover {
  opacity: 0.5;
  transition: 0.4s;
}

/* MENU */
.menu {
  background: linear-gradient(to bottom, #F37335, #FDC830);
  width: 1400px;
  display: flex;
  left: 50%;
  right: 50%;
  top: 52px;
  margin-left: -700px;
  border: 2px solid black;
  position: absolute;
  box-shadow: 1px 20px 41px -12px rgba(186, 140, 2, 1);
}

.menu>img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  margin-left: 20px;
}

.menu>ul {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;
  margin-left: 100px;
}

.menu>ul>li {
  border-left: 2px solid black;
  list-style-type: none;
  text-align: center;
  width: 160px;
  padding-top: 17px;
}

.menu>ul>li:hover {
  transition: 0.7s;
  background-color: rgba(254, 216, 177);
}

.menu>ul>li:last-child {
  border-right: 3px solid black;
}

.menu>ul>li>a {
  color: black;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}

/*SEARCH */
.search-container {
  display: flex;
  margin-right: 30px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.cover {
  background-image: url("../models/pictures/movie-rol.png");
  background-size: cover;
  width: 300px;
  position: relative;
  left: 50;
  z-index: 0;
}

.search-container>input {
  width: 280px;
  height: 35px;
  border-radius: 25px;
  outline: none;
  border: 2px solid black;
  padding-left: 10px;
  margin-top: 13px;
  background-color: rgba(1, 1, 1, 0);
  position: relative;
  font-size: 15px;
  font-family: 'Acme', sans-serif;
}

.search-container>input::placeholder {
  color: black;
  font-size: 15px;
  font-family: 'Acme', sans-serif;
}

.search-container>button {
  width: 40px;
  height: 35px;
  right: 0;
  top: 14px;
  outline: none;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  background-color: rgba(0, 1, 1, 0);
}

.search-container>button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  display: inline-block;
  padding-right: 1px;
  vertical-align: middle;
  font-weight: 900;
  padding-bottom: 3px;
  font-size: 20px;
  color: black;
  opacity: 1;
}

/*BODY */
.body {
  width: 1400px;
  height: 1000px;
  left: 50%;
  right: 50%;
  margin-left: -700px;
  position: relative;
  margin-top: 60px;
  display: flex;
}

/*FILTER */
.filter {
  margin-top: 50px;
  border: 1px solid red;
  width: 200px;
  height: 600px;
  background-color: white;
}

/* TEMPLATE */
.movies {
  display: flex;
  width: 750px;
  border: 1px solid red;
  margin-top: 50px;
}

#template {
  border: 1px solid red;
  width: 350px;
  height: 400px;
  background-color: white;
}

#template>img {
  border: 1px solid black;
}

#template>p {
  border: 1px solid red;
}

.news {
  margin-top: 50px;
  width: 400px;
  height: 700px;
  border: 1px solid black;
  margin-left: auto;
  background-color: white;
}

.pages {
  width: 700px;
  height: 50px;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
}
